.product-ul li {
    position: relative;
    /* display: flex;
    align-items: center; */
}

.product-ul .tag {
    position: absolute;
    right:0;  
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    margin-left: 10px;
}

.product-ul li:hover .tag {
    opacity: 1;
}
